<section class="bg-light page-section" id="portfolio" *ngIf="arhitectData">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{arhitectData.title}}</h2>
        <h3 class="section-subheading text-muted">{{arhitectData.subtitle}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item" *ngFor="let item of arhitectData.items;let i = index">
        <a class="portfolio-link" (click)="open(content,item)">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{item.photo}}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>{{item.title}}</h4>
          <p class="text-muted">{{item.subtitle}}</p>
        </div>
        <div style="text-align: center;">
          <button class="btn btn-success btn-sm" (click)="open(contentPortfolioEdit,item,i)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="remove(i)">Remove</button>
        </div>
      </div>

    </div>
  </div>
</section>