<section class="bg-light page-section" id="portfolio" *ngIf="arhitectData">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{arhitectData.title}}</h2>
        <h3 class="section-subheading text-muted">{{arhitectData.subtitle}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item" *ngFor="let item of arhitectData.items;let i = index">
        <a class="portfolio-link" (click)="open(content,i)">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{getPhotoUrl(item.photoId)}}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>{{item.title}}</h4>
          <p class="text-muted">{{item.subtitle}}</p>
        </div>
      </div>

    </div>
  </div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="modal-body">
            <div class="portfolio-link">
              <img class="img-fluid" src="{{getPhotoUrl(currentItem.photoId)}}" alt="">
            </div>
            <ul class="list-inline">
              <li>Date: {{currentItem.date | date :'dd/MM/yyyy'}}</li>
              <li>{{currentItem.title}}</li>
              <li>{{currentItem.subtitle}}</li>
            </ul>
            <app-editor-view [data]="currentItem.description"></app-editor-view>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="c('Close click')" class="btn btn-secondary" type="button">Close</button>
  </div>
</ng-template>
