.customColor {
  text-align: center;
}

.imgCustom {
  width: 60%;
  height: 40%;
  margin-left: 20%;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 22%;
}

.containerImage {
  position: relative;
  color: white;
}

.radius {
  border-radius: 5%;
}
