  <section class="page-section" *ngIf="profesorData" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{profesorData.title}}</h2>
          <h3 class="section-subheading text-muted">{{profesorData.subtitle}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li *ngFor="let storyItem of profesorData.storyItems; let i = index"
              [ngClass]="{'timeline-inverted':i%2!==0}">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" [src]="getPhotoUrl(storyItem.photoId)" alt=""
                  (click)="open(content,i)">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{storyItem.startYear}}-{{storyItem.endYear}}</h4>
                  <h4 class="subheading">{{storyItem.title}}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">{{storyItem.mainDescription}}</p>
                </div>
              </div>

            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Be Part
                  <br>Of Our
                  <br>Story!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <app-no-items *ngIf="profesorData.storyItems.length==0"></app-no-items>
    </div>
  </section>


  <ng-template #content let-c="close" let-d="dismiss" let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{currentStoryItem.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="modal-body">
              <ul class="timeline">
                <li>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" [src]="getPhotoUrl(currentStoryItem.photoId)" alt="">
                  </div>
                </li>
              </ul>
              <table class="table customColor">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{currentStoryItem.startYear}}</td>
                    <td>{{currentStoryItem.endYear}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-dark customColor">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td>{{currentStoryItem.mainDescription}}</td>
                  </tr>
                </tbody>
              </table>
              <app-editor-view [data]="currentStoryItem.fullDetails"></app-editor-view>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button (click)="c('Close click')" class="btn btn-secondary" type="button">Close</button>
    </div>
  </ng-template>
