 <app-main-navbar></app-main-navbar>
 <app-main-dashboard></app-main-dashboard>
 <app-main-activitate-academica></app-main-activitate-academica>
 <app-main-activitate-publicata></app-main-activitate-publicata>
 <app-main-management></app-main-management>
 <app-main-lucrari-de-referinta></app-main-lucrari-de-referinta>
 <app-main-premii-si-distinctii></app-main-premii-si-distinctii>
 <app-main-crochiu></app-main-crochiu>
 <app-main-criba></app-main-criba>
 <app-main-contact></app-main-contact>
 <app-main-footer></app-main-footer> 
